<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tongdun Cloud</title>
    <link rel="stylesheet" href="//assets.toruneko.net/tdicon/iconfont.css">
    <link rel="stylesheet" href="/assets/refrain/refrain.css">
    <script src="//assets.toruneko.net/dll/vendor1.js"></script>
    <script src="//assets.toruneko.net/dll/vendor1.js"></script>
    <script>window.geffenDomain = 'http://yun-dev.tongdun.cn'</script>
</head>
<body>
    <div id="app">
        <div class="td-layout">
            <div id="refrain" class="refrain-header td-layout-header"></div>
            <div class="td-layout td-layout-has-sider">
                <div id="refrain-sidebar"></div>
                <div id="refrain-content" class="td-layout-content"></div>
                <div id="refrain-waiting" class="td-layout-content"></div>
            </div>
        </div>
    </div>
  <script src="/assets/refrain/refrain.js"></script>
</body>
</html>
